<h1>Project Search</h1>

<%= form_for search_project_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "search", name: nil %>
  </p>
<% end %>

<ul>
  <% @project.each do |project| %>
    <li>
      <h3>
        <%= link_to project.name, controller: "projects", action: "show", id: project._id%>
      </h3>
    </li>
  <% end %>
</ul>
